<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/css.min.css" charset="utf-8">
  </head>
  <body ng-app="app">
    <div ng-controller="main">
      {{test}}
      <div ng-model="oneText" ui-ace="{mode: 'javascript', workerPath: './js'}"></div>
      <input type="submit" value="Submit" ng-click="runTest(oneText)">
      Runs webworker when pressed, can pass in parameters too!



    </div>
<script src="./js/js.min.js" charset="utf-8"></script>
  </body>
</html>